streamlit==1.38.0
insightface==0.7.3
onnxruntime==1.15.1
opencv-python-headless==4.5.5.64   # this version avoids libgthread / glib deps entirely
pillow-heif
mediapipe==0.10.11
pandas==2.2.3
numpy==1.26.4
pillow==10.4.0
supabase==2.11.0
